---
interface Props {
    variant?: 'default' | 'vertical';
}

const hobbies = [
    // { name: "Portrait Photography", url: "/photo/portraits" },
    { name: "Portrait Photography", url: "/photo/portraits", target: "_self" },
    { name: "Aviation Photography", url: "/photo/aviation", target: "_self" },
    { name: "Travel", url: "/photo/travel", target: "_self" },
    { name: "Trekking / Hiking" },
];

import Hobbie from "./Hobbie.astro";

const baseClasses = "max-w-7xl gap-3 py-4 max-md:py-3";

const variants = {
    default: `${baseClasses} flex-wrap mx-auto max-md:gap-2 max-sm:gap-1 justify-start items-center flex flex-row`,
    vertical: `${baseClasses} max-sm:gap-2 justify-start items-start flex flex-col`
} as const;

const { variant = "default" } = Astro.props as Props;
const classes = variants[variant];
---

<!--
<div id="tags" class={classes}>
    {hobbies.map((hobby) => <Hobbie tag={hobby} />)}
</div>
-->


<div class="flex flex-wrap gap-2">
  {hobbies.map(hobby => (
    hobby.url ? (
      <a
        href={hobby.url}
        target={hobby.target}
        rel="noopener noreferrer"
        class="px-4 py-1 rounded-full text-sm font-medium text-zinc-500 dark:text-neutral-400 hover:text-blacktext bg-riptide-50 dark:bg-zinc-800 hover:bg-mint-200 cursor-default transition-all ease-in-out duration-300"
      >
        {hobby.name}
      </a>
    ) : (
      <span class="px-4 py-1 rounded-full text-sm font-medium text-zinc-500 dark:text-neutral-400 hover:text-blacktext bg-riptide-50 dark:bg-zinc-800 hover:bg-mint-200 cursor-default transition-all ease-in-out duration-300">
        {hobby.name}
      </span>
    )
  ))}
</div>
