---
const allTools = [
  "aws",
  "cloudflare",
  "github",
  "okta",

  "devops",
  "cicd",

  "terraform",
  "bash",
  "python",
  "groovy",
  "powershell",

  "docker",
  "git",
  "jenkins",
  "atlassian",
  "soapui",

  "apple",
  "linux",
];

import Capsule from "../ui/Capsule.astro";

type ToolVariant = "default" | "center";

// Base classes that are common to all variants
const baseClasses = "flex flex-wrap gap-4 max-lg:gap-1 grid-auto-efe";

// Variant-specific classes
const variantClasses: Record<ToolVariant, string> = {
  default: "cursor-default",
  center: "justify-center cursor-default",
};

const { variant = "default", linkEnabled = false, size = "md" } = Astro.props;

// Combine base classes with variant-specific classes
const classes = `${baseClasses} ${variantClasses[variant as ToolVariant]}`;
---

<div class={classes}>
  {allTools.map((tool) => <Capsule lang={tool} linkEnabled={linkEnabled} size={size} />)}
</div>
