---
import Navigation from "./Navigation.astro";
import ThemeIcon from "../ui/ThemeIcon.astro";
import Social from "../ui/Social.astro";
import { Icon } from "astro-icon/components";
import { AstroError } from "astro/errors";
import { getCollection} from "astro:content";

const [staticData] = await getCollection('staticData');

if (!staticData) {
  throw new AstroError("JSON data not found");
}


//const currentPath = Astro.url.pathname;
//const routes = ["/", "/portfolio", "/about-me", ];
//
//// Check if the current route is in the list of routes
//const isActiveRoute = routes.includes(currentPath);
//
//const navItems = isActiveRoute
//  ? ["home", "projects", "articles", "presentations", "experience", "about"]
//  : ["home", "projects", "articles", "presentations", "about"];


const currentPath = Astro.url.pathname;
let navItems;

switch (true) {
  case currentPath.startsWith("/photo"):
    navItems = ["home", "portraits", "aviation", "travel", "events", "portfolio", "about"];
    break;
  case currentPath.startsWith("/portfolio"):
    navItems = ["home", "projects", "articles", "presentations", "experience", "photo", "about"];
    break;
  case currentPath == "/about-me":
    navItems = ["home", "projects", "articles", "presentations", "experience", "photo", "about"];
    break;
  default:
    navItems = ["home", "portfolio", "photo", "about"];
    break;
}

---

<header
  role="banner"
  aria-label="Main navigation"
  class="sticky top-0 z-50 w-full p-4 font-medium text-blacktext dark:text-zinc-300 dark:bg-[#0E0E11]/80 dark:border-b-1 dark:border-zinc-800 bg-white/90 backdrop-blur-xs dark:backdrop-blur-xs max-md:z-50 max-md:px-0 transition-all"
>
  <div
    class="relative mx-auto flex max-w-7xl flex-row items-center justify-between max-xl:px-6"
  >
    <a href="/" aria-label="Go to home">
      <Icon
        name="logo"
        class="h-6 cursor-pointer transition-all hover:text-mint-300"
        aria-hidden="true"
      />
    </a>

    <Navigation items={navItems} />

    <div class="flex items-center justify-between gap-5 text-xl">
      <div class="max-md:hidden flex items-center justify-center gap-5" role="list">
        <Social link={staticData.data.github} iconName={staticData.data.githubIconName} />
        <Social link={staticData.data.medium} iconName={staticData.data.mediumIconName} />
        <Social link={staticData.data.linkedin} iconName={staticData.data.linkedinIconName} />
      </div>
    </div>
    <div class="flex items-center gap-5 text-xl md:pl-5">
      <ThemeIcon />
      <button 
        class="hamburger"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <Icon name="bars" class="hamburger-icon bars-icon" aria-hidden="true" />
        <Icon name="xmark" class="hamburger-icon xmark-icon" aria-hidden="true" />
      </button>
    </div>
  </div>
</header>
