---
const { title, url, date, image, tags = [], languages = [] } = Astro.props;

import Tag from "../ui/Tag.astro";
import ReadMore from "../ui/ReadMore.astro";
import DatePub from "./DatePub.astro";
import Capsule from "../ui/Capsule.astro";

---

<article class="bg-white dark:bg-zinc-900/25 dark:border dark:border-zinc-800 dark:hover:border-mint-300 hover:backdrop-blur-none backdrop-blur-lg shadow-sm overflow-auto hover:shadow-[5px_5px_rgba(0,_98,_90,_0.4),_10px_10px_rgba(0,_98,_90,_0.3),_15px_15px_rgba(0,_98,_90,_0.2),_20px_20px_rgba(0,_98,_90,_0.1),_25px_25px_rgba(0,_98,_90,_0.05)] p-8 max-md:p-6 w-full flex justify-between items-center bg-gradient-to-r hover:from-teal-200 hover:to-emerald-200 dark:hover:from-riptide-500 dark:hover:to-mint-500 transition-all hover:scale-105  duration-200 ease-in-out gap-8 max-md:gap-4 rounded-3xl max-md:flex-col-reverse">
    <div class="flex flex-col">
        <a href={url} class="flex flex-col gap-4 w-full">
            <DatePub date={date} />
            <h2 class="dark:text-mint-50 text-blacktext text-3xl font-bold text-pretty">{title}</h2>
            <ReadMore />
        </a>
        <div class="gap-3 mt-3 flex flex-col">
            <div class="flex gap-2 flex-wrap">
              
                 {languages.length > 0 && languages.map((language: string) => <Capsule lang={language} />)} 
            </div>
            <div class="gap-2 flex flex-wrap justify-start items-center">
                {tags.length > 0 && tags.map((tag: string) => <Tag tag={tag}>{tag}</Tag>)}
            </div>
        </div>
    </div>
    {image?.url && (
        <a href={url} style={{ backgroundImage: `url(${image.url})` }} class="flex-shrink-0 rounded-2xl bg-center bg-cover aspect-video max-md:aspect-video w-2/6 max-md:w-full" />
    )}
</article>
