---
import Layout from "./Layout.astro";
import { Icon } from "astro-icon/components";
import Heading from "../components/ui/Heading.astro";
import Experience from "../components/portfolio/Experience.astro";
import NavArticle from "../components/layout/NavArticle.astro";
import Contact from "../components/portfolio/Contact.astro";
import Tools from "../components/portfolio/Tools.astro";
const { frontmatter } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach((header) => {
      header.classList.add("scroll-m-28");
    });
  });
</script>

<Layout
pageTitle={frontmatter.title}
description={frontmatter.description}
ogimage={frontmatter.image}
>



  <section
    class="w-full px-8 mt-5 max-sm:px-4 py-4 flex flex-row justify-center gap-6"
  >
    <div class="w-64 max-xl:hidden"></div>

    <article
      class="flex flex-col gap-8 max-w-3xl max-md:w-full pb-10 pt-8 mt-8 max-sm:mt-0 px-14 max-md:px-10 max-sm:px-6 dark:bg-transparent bg-white dark:border-0 border border-neutral-100 rounded-2xl"
    >
      <div class="w-full h-auto mb-4 mx-auto" id="#">
        <div
          class="transition-all justify-center w-full gap-8 max-md:gap-3 max-lg:gap-2 flex flex-col items-center z-0 relative dark:from-mint-950 dark:to-zinc-950"
        >

          <div class="w-full flex flex-col justify-center gap-4 max-md:gap-2">
            <div class="text-center">
              <Heading textGradient={frontmatter.title} />
            </div>

            <p class="text-lg max-xl:text-base text-blacktext dark:text-gray-200 mb-0 leading-8 font-semibold">
            <!-- <b class="bg-gradient-to-r from-riptide-400 to-mint-500 dark:to-mint-200 dark:from-riptide-300 text-transparent bg-clip-text">green text</b> -->
            {frontmatter.description}
            </p>
          </div>
        </div>
      </div>

      <!--
      <div class="flex gap-4 items-center">
        <Heading text={frontmatter.title} textGradient={frontmatter.description} />
      </div>
      -->

      <div class="markdown text-white" id="content">
        <slot />
      </div>
    </article>
    <NavArticle title={frontmatter.title} />
  </section>









  <Contact />
</Layout>
